<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EquipmentDbConnection"
             connectionString="Server=DESKTOP-G6IPFF7\SQLEXPRESS;Database=Practica;Integrated Security=True;TrustServerCertificate=True"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>